<h1>Details for: <span id="relay_name"><%= relay.get('nickname') %></span></h1>
<!-- div class="subnav">
    <ul class="nav nav-pills">
        <li><a href="#general">General</a></li>
        <li><a href="#graphs">Graphs</a></li>
        <li><a href="#misc">Misc</a></li>
    </ul>
</div-->

<h2>General <small>Overall information on the Tor relay</small></h2>
<hr/>

<div class="row">
    <div class="span4">
    <h3>Configuration</h3>
    <dl>
      <dt><span class="tip" data-content="This is the nickname that the Tor relay operator chose." data-original-title="Nickname">Nickname</span></dt>
      <dd><%= _.escape(relay.get('nickname')) %></dd>

      <dt><span class="tip" data-content="Addresses and ports where the relay listens for incoming connections from clients and other relays." data-original-title="Onion-routing addresses">OR Addresses</span></dt>
      <dd><%= relay.get('or_addresses') %></dd>

      <dt><span class="tip" data-content="These are the contact details of the Tor relay operator" data-original-title="ContactInfo">Contact</span></dt>
      <dd><%= _.escape(relay.get('contact')) %></dd>

      <dt><span class="tip" data-content="Address and port where the relay listens for directory requests." data-original-title="Directory port">Dir Address</span></dt>
      <dd><%= relay.get('dir_address') %></dd>

      <dt>
      <span class="tip" data-content="Bandwidth that the relay is willing and capable to provide." data-original-title="Advertised bandwidth">Advertised Bandwidth</span>
      </dt>
      <dd><%= relay.get('bandwidth_hr') %></dd>
      <dt><span class="tip" data-content="Policy of exit connections that the relay is going to accept or reject." data-original-title="Exit policy">Exit Policy</span></dt>
      <dd>
      <pre><% _.each(relay.get('exit_policy'), function(line) { %>
<%= $.trim(line) %><% }); %></pre>
      </dd>
    </dl>


    </div>
    <div class="span4">
    <h3>Properties</h3>
    <dl>

    <dt><span class="tip" data-content="20-byte unique identifier of the relay." data-original-title="Fingerprint">Fingerprint</span></dt>
    <dd><%= relay.get('fingerprint') %></dd>

    <dt><span class="tip" data-content="Flags that the directory authorities assigned to this relay." data-original-title="Relay flags">Flags</span></dt>
    <dd><% _.each(relay.get('flags'), function(flag) { %>
        <img class="inline" src="img/flags/<%= flag[1] %>.png">
        <span class="inline"><%= flag[0] %></span>
    <% }); %>
    </dd>

    <dt><span class="tip" data-content="Country as found in a GeoIP database by resolving the relay's first onion-routing address." data-original-title="Country">Country</span></dt>
    <dd><%= relay.get('country') %></dd>

    <dt><span class="tip" data-content="Whether this relay was marked as bad exit by the directory authorities." data-original-title="Bad exit">Bad Exit</span></dt>
    <dd><%= relay.get('badexit') %></dd>

    <dt><span class="tip" data-content="Date and time when the relay was last (re-)started." data-original-title="Last restarted">Last Restarted</span></dt>
    <dd><%= relay.get('last_restarted') %></dd>

    <dt><span class="tip" data-content="Date and time when the relay last published a descriptor to the directory authorities." data-original-title="Descriptor published">Descriptor Published</span></dt>
    <dd><%= relay.get('desc_published') %></dd>

    <dt><span class="tip" data-content="XXX" data-original-title="YYY">Platform</span></dt>
    <dd><%= _.escape(relay.get('platform')) %></dd>

    </dl>
    </div>
    <div class="span4">
    <h3>Status</h3>

    <dt><span class="tip" data-content="Time since when this relay is online." data-original-title="Uptime">Uptime</span></dt>
    <dd><%= relay.get('uptime_hrfull') %></dd>

    <dt><span class="tip" data-content="Whether this relay is listed in the current Tor directory or not." data-original-title="YYY">Running</span></dt>
    <dd><%= relay.get('running') %></dd>

    </div>
</div>

<div class="row">
<h2>Graphs <small>Pretty graphs</small></h2>
<hr/>
    <ul class="thumbnails">
        <li class="span6">
          <div class="thumbnail">
            <div id="days" class="graph">
            <img src="img/no-data-available.png" alt="">
            </div>
            <div class="caption">
              <h5>3 Days graph</h5>
            </div>
          </div>
        </li>
        <li class="span6">
          <div class="thumbnail">

            <div id="week" class="graph">
            <img src="img/no-data-available.png" alt="">
            </div>
            <div class="caption">
              <h5>1 Week graph</h5>
            </div>
          </div>
        </li>
      </ul>
</div>

<div class="row">
    <ul class="thumbnails">
        <li class="span6">
          <div class="thumbnail">
            <div id="month" class="graph">
            <img src="img/no-data-available.png" alt="">
            </div>
            <div class="caption">
              <h5>1 Month graph</h5>
            </div>
          </div>
        </li>
        <li class="span6">
          <div class="thumbnail">

            <div id="months" class="graph">
            <img src="img/no-data-available.png" alt="">
            </div>
            <div class="caption">
              <h5>3 Months graph</h5>
            </div>
          </div>
        </li>
      </ul>
</div>

<div class="row">
    <ul class="thumbnails">
        <li class="span6">
          <div class="thumbnail">
            <div id="year" class="graph">
            <img src="img/no-data-available.png" alt="">
            </div>
            <div class="caption">
              <h5>1 Year graph</h5>
            </div>
          </div>
        </li>
        <li class="span6">
          <div class="thumbnail">
            <div id="years" class="graph">
            <img src="img/no-data-available.png" alt="">
            </div>

           <div class="caption">
              <h5>5 Years graph</h5>
            </div>
          </div>
        </li>
      </ul>
</div>

<!--
<div class="row">
<h2>Misc <small>unsorted other information</small></h2>
<hr/>
</div>
-->


